body {
  margin: 0;
}
 img{
   width: 30vh;
   height: 25vw;
 }
.container{
  margin: auto;
}

.horizontal{
  float:right
  background-color:red
  padding:5px;
}

.vertical{
  float:left;
  background-color:black;
  padding:5px;
}

* {
  box-sizing: border-box;
}
