/* The only reset you’ll ever need */

body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  font-size:12px;
}

.main {
  background: #D8D8D8;
  width: 90%;
  margin:5%;
  height: 400px;
  text-align: center;
}
.container{
  width: 100%;
  height: 350px;
  margin:auto;
  overflow:hidden;
  padding-bottom: 10px;
}


#boxes{
  margin:10px;
  width: 100%;
  padding: 5%;
}

#boxes .box{
  float:left;
  width:30%;
  padding:10px;
  background: white;
  margin: 10px;
  height: 300px;
  padding: 10px;
}

#boxes .box #img1,
#boxes .box #img2,
#boxes .box #img3{
  float: left;
}

#boxes .box #star{
  float:right;
}

h2, h3, p{
  text-align: right;
  float: right;
}
.button_1{
  height:38px;
  background:#D8D8D8;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}
.button_2{
  height:38px;
  background:#0000FF;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.box form{
  float: right;
  margin-top:10px;
}
* {
  box-sizing: border-box;
}
