@font-face {
  font-family: "Domaine Display";
  font-weight: 700;
  font-style: italic;
  src: url(https://dv9y9s4n4ocup.cloudfront.net/DomaineDisplayTest-ExtraboldItalic.woff)
    format("woff");
}

body {
  font-family: "Domaine Text", Georgia, serif;
  margin: 0;
}

figure {
  max-height: 28em;
  margin: 0 -10em 0 -10em;
  overflow: hidden;
}

figure img {
  max-width: 100%;
  object-fit: cover;
  object-position: center center;
}

article {
  margin:0 auto 0 auto;
  max-width: 48em;
  padding:0 2em 0 2em;
}

article h1 {
  background-color: white;
  font-family: "Domaine Display";
  font-size: 3.5rem;
  font-style: italic 700 3.5rem;
  font-weight: 700;
  margin:-3em -1em 1em -1em;
  padding-top: 0.5em 1em 0 1em;
  position: relative;
}

article h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 2;
  margin-top: 1em 0 1em 0 ;
}

article p {
  font-size: 18px;
  line-height: 2;
  margin-top: 2em 0  2em 0;
}

article blockquote {
  font: italic 500 22px;
  line-height: 2.5;
  margin-top: 1.5em 0  1.5em 0;
}
